@font-face {
    font-family: 'vt323';
    src: url('../assets/fonts/VT323-Regular.ttf');
}

@font-face {
    font-family: 'Aurebesh';
    src: url('../assets//fonts/Aurebesh.otf');
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    height: 100vh;

} 


.container-container{
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease;

    cursor: url("../assets/cursor.svg"), auto;
    
    position: relative;

    background-color: #181A1C;
    border: 1px solid #30343A;

    width:  60.4rem;
    height: 59.8rem;

    border-radius: 5.6rem;

    box-shadow: 15px 15px 30px #0F1010;

    z-index: 1;
    
    img{
        position: absolute;
        top: 3rem;
        left: 0.7rem;
        z-index: 2;

        width: 58.7rem;

        z-index: 0 !important;
    }

    *{
        z-index: 3;
    }

    .input-wrap{
        position: absolute;

        display: flex;
        flex-direction: row;
        align-items: center;

        
    }

    .greenCursor{
        --original-color: #ffffff;
        cursor: url("../assets/cursorText.svg"), auto;
    }

    .blueCursor{
        cursor: url("../assets/blueCursorText.svg"), auto;
    }

    label{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* userID =================================================== */

    .input-wrap:nth-child(1){
        width: 28.4rem;

        left: 3.7rem;
        top: 14.7rem;
        
    }
    
    label.userIDnumber{
        font-family: 'vt323';
        font-size: 24px;
        color: #ffffff;
        white-space: nowrap;

        padding: 1.4rem 0 1.1rem 1rem;
    }

    input#userIDnumber{
        padding: 1.4rem 1rem 1.1rem 1rem;

        width: 100%;
        border: none;

        outline: none;

        font-family: 'vt323';
        color: #00ff00;

        
        background-color: transparent;

        font-size: 24px;
    }

    input#userIDnumber::placeholder{
        font-size: 20px;
        color: #2e2e2e;
    }

    /* =================================================== */

    .input-wrap:nth-child(2){
        width: 25.1rem;
        height: 2rem;
        
        left: 7rem;
        top: 19.6rem;
    }

    label.userKey{
        font-family: 'vt323';
        font-size: 18px;
        color: #ffffff;
        white-space: nowrap;

        padding-left: 1rem;

        height: 100%;
    }

    input#userKey{

        width: 100%;
        height: 3rem;
        max-height: 3rem;
        border: none;

        outline: none;

        padding: 0 1rem 0 0.6rem;

        font-family: 'vt323';
        color: #00ff00;
        background-color: transparent;
        font-size: 18px;
        text-transform: uppercase;
        
    }

    input#userKey::placeholder{
        color: #2e2e2e;
        font-size: 14px;
        
    }

    /* =================================================== */

    .input-wrap:nth-child(3){
        align-items: flex-start;

        width: 28.5rem;
        height: 5.2rem;

        left: 3.7rem;
        top: 21.6rem;
    }

    label.dnaHash{
        height: 100%;
        font-family: 'vt323';
        font-size: 24px;
        color: #ffffff;
        white-space: nowrap;

        padding-left: 1rem;
    }

    input#dnaHash{

        width: 100%;
        height: 100%;
        border: none;

        padding: 0 7rem 0 1rem;

        outline: none;

        font-family: 'vt323';
        color: #00ff00;
        background-color: transparent;
        font-size: 24px;
    }

    input#dnaHash::placeholder{
        color: #2e2e2e;
        font-size: 20px;
    }
    /* =================================================== */

    /* 0_auth =================================================== */

    .input-wrap:nth-child(4){
        width: 18.5rem;
        height: 3.7rem;

        left: 7.7rem;
        top: 35.5rem;
    }

    label.token{
        height: 100%;
        font-family: 'Monofonto';
        font-size: 16px;
        white-space: nowrap;

        padding-left: 1rem;
    }

    input#token{

        width: 7rem;
        height: 100%;
        border: none;

        padding: 0 1rem;

        outline: none;

        font-family: 'Monofonto';
        color: #fff;
        background-color: transparent;
        font-size: 16px;
    }

    input#token::placeholder{
        color: #fca523;
        font-size: 18px;
    }

    /* =================================================== */

    .input-wrap:nth-child(5){
        flex-direction: column;
        align-items: flex-start;
        width: 16.1rem;
        height: 7.1rem;

        left: 10rem;
        top: 39.7rem;

    }

    label.passCode{
        justify-content: flex-start;

        width: 100%;
        height: 50%;
        font-family: 'Monofonto';
        font-size: 16px;
        white-space: nowrap;

        padding-left: 1rem;
    }

    input#passCode{

        width: 16.1rem;
        height: 100%;
        border: none;

        padding: 0 4rem 0 1rem;

        outline: none;

        font-family: 'Aurebesh';
        color: #fff;
        background-color: transparent;
        font-size: 24px;
    }

    input#passCode::placeholder{
        color: #fca523;
        font-size: 24px;;
    }

    img.button{
        position: absolute;
        top: 38.1rem;
        left: 33.6rem;

        width: 20.9rem;

        transition: 200ms;
        transform-origin: center;

        cursor: url('../assets/pointerCursor.svg'), auto;
    }

    img.button:active{
        transform: scale(0.98);
    }

    img.button:hover{
        
        filter: contrast(150%);
    }

    img.button.accessGrantedBtn{
        filter: brightness(1.8) hue-rotate(160deg);
    }
    
}

.errorStrip{
    overflow: hidden;

    position: absolute;
    border: solid 2px #FF6500;
    box-shadow: inset 0 0 0 5px #0F1010;
    background-color: #FF6500;

    width: 3rem;
    height: 0;

    z-index: 3;

    background-image: url('../assets/errorStrip.svg');
    transition: 200ms;

    opacity: 0;
}

.errorStrip.show {
    opacity: 1;
    height: 59.8rem;
}

.errorStrip:nth-child(1){
    left: -4rem;

    animation: roll 6s linear infinite;
}

.errorStrip:nth-child(4){
    right: -4rem;

    transform: rotate(180deg);
    animation: roll 6s linear infinite;
}


@keyframes roll {
    from { background-position-y: 0%; }
    to   { background-position-y: 320%; }
}

.errorAnimate{
    animation: errorInput 1s ease-in-out;
}

@keyframes errorInput {
    0%, 40%, 80% { color: #e0370d; }
    20%, 60%, 100% { color: var(--original-color); }
}

.blurBg{
    position: absolute;
    width: 100vw;
    height: 100vh;

    transition: 200ms;

    opacity: 0;
    z-index: 0;

    background: #64e9fd1f;
    backdrop-filter: blur(4px);
}

.accessGranted{
    opacity: 0;
    z-index: 0;
    position: absolute;

    width: 100%;
    height: 64rem;

    transition: 200ms;
    
    background-image: url('../assets/accessGranted.svg');

    animation: roll-x 5s linear infinite;
}

.accessGranted.show {
    opacity: 1;
    z-index: 5;
}

.blurBg.show{
    opacity: 1;
    z-index: 4;
}


@keyframes roll-x {
    from { background-position-x: 0; }
    to   { background-position-x: 300%; }
}
